<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="wrap">
    	<section class="table"></section>

    	<section class="macbook">
    		<div class="screen"></div>
    		<div class="display">
    			<div id="drag">
    				<div id="change"></div>
    			</div>
    		</div>
    		<div class="bottom"></div>
    	</section>
    	
    	<section class="cup"></section>

    	<section class="btn">
    		<a href="#">上传图片
    		<input type="file" id="file">
    		</a>		
    	</section>
    </section>

    <script type="text/javascript" data-main="js/main" src="js/require.js"></script>
  </body>
</html>
